In [4]:
from xlseries import XlSeries
from xlseries.utils.path_finders import get_orig_cases_path

In [7]:
xl = XlSeries(get_orig_cases_path(1))

params = {
    "headers_coord": ["B1","C1"],
    "data_starts": 2,
    "frequency": "M",
    "time_header_coord": "A1"
}

dfs = xl.get_data_frames(params)

In [14]:
print len(dfs), "data frames scraped from excel file."
dfs[0].head()

1 data frames scraped from excel file.

           IPC-CqP  Var. Anual
1993-01  48.456885         NaN
1993-02  48.810834         NaN
1993-03  49.177819         NaN
1993-04  49.691889         NaN
1993-05  50.331205         NaN

In [15]:
dfs[0].tail()

            IPC-CqP  Var. Anual
2013-11  437.313582    0.265343
2013-12  448.588774    0.274885
2014-01  469.161388    0.309569
2014-02  491.818800    0.351042
2014-03  508.186408    0.374577

That would be a very easy case (hopefully most of them will be like that!), but sometimes parameters will differ between series in the same excel file and you will have to specify more than the 4 basic ones.

In [17]:
xl = XlSeries(get_orig_cases_path(2))

params = {
    "headers_coord": ["D4", "F4"],
    "data_starts": [5, 22],
    "frequency": ["D", "M"],
    "time_header_coord": ["C4", "F4"],
    "time_alignment": [0, -1],
    "continuity": [True, False],
    "blank_rows": [False, True],
    "missings": [True, False],
    "missing_value": ["Implicit", None]
}

dfs = xl.get_data_frames(params)

In [18]:
print len(dfs), "data frames scraped from excel file."
dfs[0].head()

2 data frames scraped from excel file.

            Tipo de Cambio de Referencia - en Pesos - por Dolar
2002-03-04                                             2.0083
2002-03-05                                             1.9917
2002-03-06                                             2.0508
2002-03-07                                             2.1375
2002-03-08                                             2.2033

In [19]:
dfs[1].head()

         Tipo de Cambio Nominal Promedio Mensual
2002-03                                 2.398856
2002-04                                 2.855106
2002-05                                 3.328700
2002-06                                 3.621300
2002-07                                 3.607136

The default mode is the **fast mode**. It tries guessing combinations of the non specified parameters until it reaches the first successful result. If you want to be *absolutely sure* there is no other parameters combination that could yield a better result, you could run the **safe mode** (which is significantly slower).

In [20]:
dfs = xl.get_data_frames(params, True)

In [21]:
print len(dfs), "data frames scraped from excel file."
dfs[0].head()

2 data frames scraped from excel file.

            Tipo de Cambio de Referencia - en Pesos - por Dolar
2002-03-04                                             2.0083
2002-03-05                                             1.9917
2002-03-06                                             2.0508
2002-03-07                                             2.1375
2002-03-08                                             2.2033

All test cases in this package will return a unique result either in **fast** or **safe** mode (because they have guided the implementation!), but it could be the case that another excel file has something that fits in more than one possible parameter combination. The result would be a tuple `(results, results_parameters)` where `results` is a list of data frames lists `[[df1, df2], [df1, df2], ...]` and `results_parameters` is a list of `Parameters` that were used in each of the results `[params_a, params_b, ...]`.